@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'jost', sans-serif;
}
.sectionfive{
    font-family: "Kite One", sans-serif;
}

.loader {
  display: flex;
  gap: 0.6em;
  list-style: none;
}

.dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
}

#dot-1 {
  animation: loader-1 0.6s infinite ease-in-out;
}

@keyframes loader-1 {
  50% {
    opacity: 0;
    transform: translateY(-0.3em);
  }
}

#dot-2 {
  animation: loader-2 0.6s 0.3s infinite ease-in-out;
}

@keyframes loader-2 {
  50% {
    opacity: 0;
    transform: translateY(-0.3em);
  }
}

#dot-3 {
  animation: loader-3 0.6s 0.6s infinite ease-in-out;
}

@keyframes loader-3 {
  50% {
    opacity: 0;
    transform: translateY(-0.3em);
  }
}

.btn-color{
  background-color: #0dcaf0;
}
.hover-btn:hover{
  background-color: #0dcaf0;
  color: white;
}
.text-hover:hover{
  color: #0dcaf0;
}
.hero{
  background-image: url("/HeroSection.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  min-height: 190px;
  max-height: 165px;

}

@media (min-width: 1024px){
  .hero{
    min-height: 346px;
    max-height: 348px;
  }
}



@media (min-width: 1024px){
  .hero{
    min-height: 446px;
    max-height: 448px;
  }
}



@media (min-width: 768px){
.login{
  background-image: url("/Login.png");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* min-height: 132px;
  max-height: 165px; */


}
}

@media (min-width: 768px){
.signup{
  background-image: url("/signup.png");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 140vh;
  /* min-height: 132px;
  max-height: 165px; */


}
}

@media (min-width: 1024px){
.signup{
  background-image: url("/signup.png");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 105vh;

}
}


@media (min-width: 1440px){
.signup{
  background-image: url("/signup.png");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 105vh;

}
}
.contact{
  background-image: url("/conhero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100%;
  
  
  /* min-height: 190px;
  max-height: 165px;  */
  
}
.background-c{
    background-image: linear-gradient(to right, #0DCAF0 , #0AA0BE, #0DC8EE, #07748A);
    
}

